#CompleteAffair{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:15px;
    box-sizing: border-box;
    background:#fff;
    h2{
        text-align: center;
        font-weight: bold;
        padding:10px;
    }
    &>h3{
        text-align: center;
        background:#fff;
        position: fixed;
        left:0;
        top:0;
        // display:block;
        width:100%;
        height:50px;
        line-height: 50px;
        border-bottom:1px solid #ddd;
        z-index: 99;
    }
    .head{
        display:flex;
        align-items: center;
        justify-content: center;
        // margin-bottom:10px;
        margin:20px;
        .iconContainer{
            display:flex;
            align-items: center;
            justify-self: center;
            .icon{
                width:56px;
                height:56px;
            }
        }
        .info{
            .title{
                font-weight: bold;
                font-size:20px;
                line-height: 31px;
            }
            .describe{
                color:#999;
                line-height: 20px;
            }
        }

    }
    textarea{
        width:100%;
        margin:10px;
        border-radius: 10px;
        padding:18px;
        box-sizing: border-box;
        font-size:24px;
        letter-spacing: 1px;
        border:none;
        outline: none;
        background:#c6deff11;
        background:#f6f7f9;
        box-shadow: inset 0px 0px 9px #1677ff11;
        resize:none;
    }
    .affairFinish,
    .affairCancel{
        margin:10px;
        height:54px;
        font-size:20px;
        width:100%;
        transition: all 0.3s;
        &:active{
            background-color: #0958d9;
        }
    }
    .affairCancel{
        margin-top:0px;
        // opacity: 0.2;
        background:#f9f9f9;
        border:1px solid #eee;
        color:#999;
        &:active{
            background-color: #eee;
        }
    }
}