html,body{
    width:100vw !important;
    height:100vh !important;
}
.app{
    width:100vw !important;
    height:100vh !important;
    font-size: 16px;
    display:flex;
    flex-direction: column;
}

// 路由切换动画
.layout-main-page-enter {
	opacity: 0.6;
	transition: all 0.2s;

}
.layout-main-page-enter-active {
	opacity: 1;
	transition: all 0.2s;
}
.layout-main-page-exit {
	opacity: 1;
	transition: all 0.2s;
}
.layout-main-page-exit-active {
	opacity: 0;
	transition: all 0.2s;
}

  
.detail{
    width:100%;
    display:flex;
    flex-grow: 1;
    background:#e9e9f0;
    overflow-y: scroll;
    // position: relative;
    // border:1px solid blue;
}
nav{
    flex-shrink: 0;
    height:55px;
    border-top:1px solid #eee;
    background:#fff;
    position: relative;
    z-index:999999999;
    ul{
        display:flex;
        width:100%;
        height:100%;
        // padding:0px 20px;
        box-sizing: border-box;
        justify-content: space-around;
        a{
            display:flex;
            justify-content: center;
            align-items: center;
            height:100%;
            width:80px;
            flex-grow: 1;
            color:#333;
            transition:all 0.25s;
            div{
                display:flex;
                flex-direction: column;
                font-size:12px;
                svg{
                    width:24px;
                    height:24px;
                    margin-bottom:4px;
                    margin-top:3px;
                }
            }
            &.active{
                color:#fff;
                background:#1677ff;
            }
        }
    }
}
