.content{
    width:100%;
    h3{
        text-align: center;
    }

}
.recordList{
    width:100%;
    padding:10px;
    box-sizing: border-box;
}
.affairList{
    width:100%;
    padding:10px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
}
