.content{
    width:100%;
    &>h3{
        text-align: center;
        background:#fff;
        position: fixed;
        // display:block;
        width:100%;
        height:50px;
        line-height: 50px;
        border-bottom:1px solid #ddd;
        z-index: 99;
    }
    .recordList{
        width:100%;
        height: 100%;
        padding:14px;
        box-sizing: border-box;
        padding-top:60px;
        padding-bottom:100px;

    }
    box-sizing: border-box;
}


#myAffairPanel{
    position: fixed;
    left:50%;
    bottom:0px;
    background:#fff;
    border:1px solid #eee;
    box-shadow: 0px 0px 6px #eee;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transform: translateY(calc(100% - 98px)) translateX(-50%);
    transition:all 0.3s;
    .scrollHand{
        display:flex;
        align-items: center;
        justify-content: center;
        // background:#fff;
        // border:1px solid #eee;
        padding:10px;
        // padding-bottom:30px;
        // box-shadow: 0px 0px 6px #eee;
        vertical-align: middle;
        // line-height: 20px;
        h3{
            margin: 0px;
            font-weight: bold;
            cursor: pointer;
        }
        svg{
            margin-top:2px;
            margin-left:2px;
            transition:all 1s;
        }
    }
    .affairList{
        width:100vw;
        // height:100%;
        background:#f6f7f9;
        padding:20px 20px;
        // padding-top:0px;
        box-sizing: border-box;
        display:flex;
        flex-direction: column;
        margin:0px;
        min-height: 200px;
        max-height: 500px;
        overflow-y: scroll;
        .nullHint{
            flex-grow: 1;
            opacity: 1;
            height: 100%;
            color:#1677ff66;
            // text-shadow: 0px 0px 3px #eee;
        }
    }
    .menu{
        width:100%;
        padding:10px;
        // padding-bottom:20px;
        background:#f6f7f9;
        background:#fff;
        display:flex;
        button{
            flex-grow: 1;
            height:40px;
            font-size:16px;
            letter-spacing: 2px;
            vertical-align: baseline;
            display:flex;
            align-items: center;
            justify-content: center;
            svg{
                font-size:20px;
                // margin-top:4px;
            }
            &:first-child{
                margin-right: 10px;
            }
        }
    }
    &.active{
        transform: translateY(-60px) translateX(-50%) !important;
        // background:blue !important;
        border:none;
        box-shadow: 0px 0px 60px #4d97e766;
        .scrollHand{
            svg{
                transform: rotateZ(180deg);
            }
        }
    }
}
.nullHint{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    opacity: 0.8;
    svg{
        font-size:90px;
        margin-bottom:5px;
    }
}
